{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="span8 blog">
            {% block notification %}
                {{ render(controller('App\\Controller\\SubscriptionController::notification')) }}
            {% endblock %}
        </div>
    </div>
    <!-- Blog Content
    ================================================== -->
    <div class="row">
    <!-- Blog Posts
    ================================================== -->
    <div class="span8 blog">

        <!-- Blog Posts -->
        {% if posts %}
            {% for post in posts %}
                <article>
                    <h3 class="title-bg"><a
                                href="{{ path('post_show', {'slug': post.slug}) }}"> {{ post.title | title }} </a></h3>
                    <div class="post-summary">
                        <a href="{{ path('post_show', {'slug': post.slug}) }}"><img
                                    src="{{ asset('src/img/gallery/post-img-2.jpg') }}" alt="Post Thumb"></a>
                        <p>
                            {% set postContent = post.content %}
                            {{ post.content | length > 450 ? post.content | slice(0, 450) ~ '...' : post.content }}
                        </p>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button"
                                    onclick="location.href='{{ path('post_show', {'slug': post.slug}) }}'">
                                {{ 'post.button_read_more'|trans }}
                            </button>
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i>{{ post.createdAt | date('Y-m-d') }}</li>
                                <li>
                                    <i class="icon-plus-sign"></i><a
                                            href="{{ path('posts_in_category_show', {'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                                </li>
                                <li>
                                    <i class="icon-user"></i>
                                    <a href="{{ path('author_posts_show', {'slug': post.author.slug}) }}">{{ post.author.fullname | title }}</a>
                                </li>

                                {{ include('tag/show.html.twig') }}

                            </ul>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% endif %}

        <!-- Pagination -->
        <div class="pagination">
            {{ knp_pagination_render(posts) }}
        </div>

       {% if app.request.attributes.get('_route') != 'home' and app.request.attributes.get('_route') != 'post_search' %}
        <div class="pagination pagination-right" style="padding-bottom: 30px; margin-top: -60px">
            <h6 class="title">{{ 'messages.number_posts_per_page' | trans }}</h6>
            <ul class="post-category-list">
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), {'slug' : app.request.attributes.get('slug'), 'maxItemPerPage': '5'})  }}">5</a>
                </li>
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), {'slug' : app.request.attributes.get('slug'), 'maxItemPerPage': '10'})  }}">10</a>
                </li>
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), {'slug' : app.request.attributes.get('slug'), 'maxItemPerPage': '20'})  }}">20</a>
                </li>
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), {'slug' : app.request.attributes.get('slug'), 'maxItemPerPage': '50'})  }}">50</a>
                </li>
            </ul>
        </div>
       {% elseif  app.request.attributes.get('_route') == 'post_search' %}
           <div class="pagination pagination-right" style="padding-bottom: 30px; margin-top: -60px">
               <h6 class="title">{{ 'messages.number_posts_per_page' | trans }}</h6>
               <ul class="post-category-list">
                   <li>
                       <a href="{{ path(app.request.attributes.get('_route'), {'maxItemPerPage': '5', 'q': app.request.query.get('q')})  }}">5</a>
                   </li>
                   <li>
                       <a href="{{ path(app.request.attributes.get('_route'), {'maxItemPerPage': '10', 'q': app.request.query.get('q')})  }}">10</a>
                   </li>
                   <li>
                       <a href="{{ path(app.request.attributes.get('_route'), {'maxItemPerPage': '20', 'q': app.request.query.get('q')})  }}">20</a>
                   </li>
                   <li>
                       <a href="{{ path(app.request.attributes.get('_route'), {'maxItemPerPage': '50', 'q': app.request.query.get('q')})  }}">50</a>
                   </li>
               </ul>
           </div>
       {% endif %}


    </div>

    {% block right_sidebar %}
        {{ render(controller('App\\Controller\\HomeController::rightSidebar')) }}
    {% endblock %}

{% endblock %}