{% block right_sidebar %}
    <div class="span4 sidebar">
        <!--Search-->
        <section>
            <div class="input-append">
                <form action="{{ path('post_search') }}">
                    <input minlength="2" name="q" placeholder="{{ 'content.search_query' |trans }}"
                           id="appendedInputButton" size="16" type="text">
                    <button class="btn" type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
        </section>

        <!--Categories-->
        <h5 class="title-bg">{{ 'content.categories'|trans }}</h5>
        <ul class="post-category-list">
            {% if categories %}
                {% for category in categories %}
                    <li>
                        <a href="{{ path('posts_in_category_show', {'slug': category.slug}) }}">
                            <i class="icon-plus-sign"></i>{{ category.name }}
                        </a>

                        {% if is_granted('ROLE_USER') %}
                            <span> | </span>
                            {% set isSubscriber = false %}
                            {% for subscriber in category.subscriber.values %}
                                {% if  subscriber.user == app.user%}
                                    {% set isSubscriber = true %}
                                {% endif %}
                            {% endfor %}

                            {% if isSubscriber == true %}
                                <a href="{{ path('category_unsubscribe', {'slug': category.slug}) }}">
                                 <small>Unsubscribe</small>
                                </a>
                            {% else %}
                                <a href="{{ path('category_subscribe', {'slug': category.slug}) }}">
                                    <small>Subscribe</small>
                                </a>
                            {% endif %}

                        {% endif %}

                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <!--Locale-->
        <h5 class="title-bg">{{ 'content.change_locale' |trans }}</h5>
        <ul class="post-category-list">
            <li><a href="{{ path('home', { '_locale': 'en' } ) }}"><i class="icon-plus-sign"></i>English</a></li>
            <li><a href="{{ path('home', { '_locale': 'ru' } ) }}"><i class="icon-plus-sign"></i>Русский</a></li>
        </ul>
    </div>
{% endblock %}