{% block right_sidebar %}
    <div class="span4 sidebar">
        <!--Search-->
        <section>
            <div class="input-append">
                <form action="{{ path('post_search') }}">
                    <input minlength="2" name="q" placeholder="{{ 'content.search_query' |trans }}" id="appendedInputButton" size="16" type="text">
                    <button class="btn" type="submit"><i class="icon-search"></i></button>
                </form>
            </div>
        </section>

        <!--Categories-->
        <h5 class="title-bg">{{ 'content.categories'|trans }}</h5>
        <ul class="post-category-list">
            {% if categories %}
                {% for category in categories %}
                    <li><a href="{{ path('posts_in_category_show', {'slug': category.slug}) }}"><i
                                    class="icon-plus-sign"></i>{{ category.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}