{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <!-- Blog Content
       ================================================== -->
    <div class="row"><!--Container row-->

        <!-- Blog Full Post
        ================================================== -->
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg">{{ post.title | title }}</h3>
                <div class="post-content">
                    <a href="#"><img src="{{ asset('src/img/gallery/post-img-2.jpg') }}" alt="Post Thumb"></a>

                    <div class="post-body">
                        <p>
                            {{ post.content }}
                        </p>
                    </div>

                    <div class="post-summary-footer">
                        <ul class="post-data">
                            <li><i class="icon-calendar"></i>{{ post.createdAt | date('Y-m-d') }}</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> {{ countComment.commentCount }} Comments</li>
                            <li><a href="{{ path('posts_in_category_show', {'slug': category.slug}) }}"><i
                                            class="icon-plus-sign"></i>{{ category.name }}</a></li>
                        </ul>
                    </div>
                </div>
            </article>

            <!-- Post Comments
            ================================================== -->
            <section class="comments">
                <h4 class="title-bg"><a name="comments"></a>{{ countComment.commentCount }} Comments so far</h4>
                <ul>
                    {% for comment in post.comments %}
                        <p>
                        <li>
                            <img src="{{ asset('src/img/user-avatar.jpg') }}" alt="Image"/>
                            <span class="comment-name">{{ post.author.fullName }}</span>
                            <span class="comment-date">{{ comment.publishedAt | date('Y-m-d') }}</span>
                            <div class="comment-content">{{ comment.content }}</div>
                        </li>
                        </p>
                    {% endfor %}

                </ul>

                <!-- Comment Form -->
                {% block commentForm %}
                    {{ render(controller('App\\Controller\\BlogController::commentForm', {'id': post.id})) }}
                {% endblock %}

            </section><!-- Close comments section-->

        </div><!--Close container row-->

        <!-- Blog Sidebar
        ================================================== -->
        {% block right_sidebar %}
            {{ render(controller('App\\Controller\\BlogController::rightSidebar')) }}
        {% endblock %}
    </div>

    </div> <!-- End Container -->

{% endblock %}