{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <!-- Blog Content
    ================================================== -->
    <div class="row">

    <!-- Blog Posts
    ================================================== -->
    <div class="span8 blog">

        <!-- Blog Posts -->
        {% if posts %}
            {% for post in posts %}
                <article>
                    <h3 class="title-bg"><a href="{{ path('post_show', {'slug': post.slug}) }}"> {{ post.title | title }} </a></h3>
                    <div class="post-summary">
                        <a href="{{ path('post_show', {'slug': post.slug}) }}"><img src="{{ asset('src/img/gallery/post-img-2.jpg') }}" alt="Post Thumb"></a>
                        <p>
                            {% set postContent = post.content %}
                            {{ post.content | length > 450 ? post.content | slice(0, 450) ~ '...' : post.content }}
                        </p>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button" onclick="location.href='{{ path('post_show', {'slug': post.slug}) }}'">{{ 'post.button_read_more' |trans }}</button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% endif %}

        <!-- Pagination -->
        <div class="pagination">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>

    {% block right_sidebar %}
        {{ render(controller('App\\Controller\\HomeController::rightSidebar')) }}
    {% endblock %}


{% endblock %}