{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <!-- Blog Content
       ================================================== -->
    <div class="row"><!--Container row-->

        <!-- Blog Full Post
        ================================================== -->
        <div class="span8 blog">

            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg">{{ post.title | title }}</h3>
                <div class="post-content">
                    <a href="#"><img src="{{ asset('src/img/gallery/post-img-2.jpg') }}" alt="Post Thumb"></a>

                    <div class="post-body">
                        <p>
                            {{ post.content | raw}}
                        </p>
                    </div>

                    <div class="post-summary-footer">
                        <ul class="post-data">
                            {% if app.user == post.author %}
                                <li><i class="icon-edit"></i><a href="{{ path('post_edit', {'slug': post.slug}) }}">{{ 'post.edit' |trans }}</a></li>
                                <li><i class="icon-remove"></i><a href="{{ path('post_delete', {'slug': post.slug}) }}" onclick="return confirm('{{ 'post.delete_confirm' |trans }}')">{{ 'post.delete' |trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path('post_like', {'slug': post.slug}) }}"><i class="icon-heart"></i>{{ post.like }}</a></li>
                            <li><i class="icon-calendar"></i>{{ post.createdAt | date('Y-m-d') }}</li>
                            <li><i class="icon-user"></i> <a href="{{ path('author_posts_show', {'slug': post.author.slug}) }}">{{ post.author.fullname | title }}</a></li>
                            <li><i class="icon-comment"></i>{{ 'post.comment_count' |transchoice(countComment.commentCount) }}</li>

                            {{ include('tag/show.html.twig') }}

                        </ul>
                    </div>
                </div>
            </article>

            <!-- Post Comments
            ================================================== -->
            <section class="comments">
                <h4 class="title-bg"><a name="comments"></a>{{ 'post.comment_count' |transchoice(countComment.commentCount) }}</h4>
                <ul>
                    {% for comment in post.comments %}
                        <p>
                        <li>
                            <img src="{{ asset('src/img/user-avatar.jpg') }}" alt="Image"/>
                            <span class="comment-name">{{ comment.author.fullName }}</span>
                            <span class="comment-date">{{ comment.publishedAt | date('Y-m-d') }}</span>
                            <div class="comment-content">{{ comment.content | raw }}</div>
                        </li>
                        </p>
                    {% endfor %}

                </ul>

                <!-- Comment Form -->
                {% if is_granted('ROLE_USER') %}
                    {% block commentForm %}
                        {{ render(controller('App\\Controller\\CommentController::new', {'slug': post.slug})) }}
                    {% endblock %}
                {% endif %}

            </section><!-- Close comments section-->

        </div><!--Close container row-->

        <!-- Blog Sidebar
        ================================================== -->
        {% block right_sidebar %}
            {{ render(controller('App\\Controller\\HomeController::rightSidebar')) }}
        {% endblock %}
    </div>

    </div> <!-- End Container -->

{% endblock %}